ul.topnav {
  list-style       : none;
  margin           : 0;
  padding          : 0;
  overflow         : hidden;
  background-color : #333;

  li {
	float    : left;
	position : relative;

	&.icon {
	  display : none;
	}

	a {
	  display         : inline-block;
	  color           : #f2f2f2;
	  text-align      : center;
	  text-decoration : none;
	  padding         : 14px 16px;
	  transition      : .3s;
	  font-size       : 17px;

	  &:hover {
		background-color : #555;
	  }
	}
  }
}

@media screen and (max-width : 680px) {
  ul.topnav {
	li {
	  &:not(:first-child) {
		display : none;
	  }

	  &.icon {
		float   : right;
		display : inline-block;
	  }
	}

	&.responsive {
	  li {
		float   : none;
		display : inline;

		&.icon {
		  position : absolute;
		  right    : 0;
		  top      : 0;
		}

		a {
		  display    : block;
		  text-align : left;
		}
	  }
	}
  }
}