@use "../../styles/variables" as vars;
@use "../../styles/mixins";
@import "icon.css";
@import "navbar680px.css";

$navbarItemTextColor : darkgray;

.navbar-container {
  background-color : vars.$bgNavBarColor;
  min-height       : 3rem;

  .navbar-list-items {
	width      : 80%;
	margin     : auto;
	position   : relative;
	list-style : none;
	padding    : 0;

	div {
	  display : inline;
	}
  }
}

.list-element {
  display      : inline;
  position     : relative;
  margin-right : vars.$indent;

  .navbar-link {
	@include mixins.stylizedNavLink($navbarItemTextColor, vars.$indent * 2.4);
	transition : color .3s;

	&::after {
	  content    : "";
	  color      : $navbarItemTextColor;
	  position   : absolute;
	  bottom     : 0;
	  left       : 0;
	  width      : 1rem;
	  @include mixins.border(border-bottom, 1px, solid, $navbarItemTextColor);
	  transition : width .3s;
	}

	&:hover {
	  color : lighten($navbarItemTextColor, 15%);

	  &::after {
		width : 100%;
	  }
	}

	//Styling for NavLink tag from React Router DOM
	&.active {
	  color : white;

	  &::after {
		color : white;
	  }
	}
  }
}

.list-header {
  display      : inline-block;
  margin-right : vars.$indent * 2;
  padding      : vars.$indent * 1.5 0;
  @include mixins.stylizedNavLink(white, vars.$indent * 3.4);
}