$bgNavBarColor       : rgba(52, 58, 64, 1);
$navbarItemTextColor : darkgray;
$indent              : .5rem;

@mixin clearLinkTag() {
  text-decoration : none;
  color           : $navbarItemTextColor;
}

.navbar-container {
  background-color : $bgNavBarColor;
  padding          : $indent 0;
  position         : relative;

  .navbar-list-items {
	display         : flex;
	padding         : 0;
	text-decoration : none;
	width           : 80%;
	margin          : auto;

	div {
	  display         : flex;
	  align-items     : center;
	  justify-content : center;
	}

	.navbar-header {
	  @include clearLinkTag;
	  font-size    : $indent * 3.4;
	  margin-right : $indent;
	  color        : white;
	}

	.list-element {
	  list-style : none;

	  .navbar-link {
		@include clearLinkTag;
		padding    : $indent;
		font-size  : $indent * 2.4;
		transition : color .3s;

		&:hover {
		  color : lighten(darkgray, 10%);
		}
	  }
	}
  }
}