@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixins";

@mixin absolute-position($positionVertical, $positionHorizontal, $posVertical, $posHorizontal) {
  #{$positionVertical}      : $posVertical;
  #{$positionHorizontal}    : $posHorizontal;
}

@mixin pseudoBordersProps($sizeProp) {
  color           : white;
  opacity         : .3;
  transition      : 1.5s;
  content         : "";
  @include mixins.border(border, 1px, solid, white);
  #{$sizeProp}    : 100%;
  position        : absolute;
}

.border-top-bottom {
  &::before {
	@include pseudoBordersProps(width);
	@include absolute-position(top, left, vars.$indent * 1.5, 0);
  }

  &::after {
	@include pseudoBordersProps(width);
	@include absolute-position(bottom, right, vars.$indent * 1.5, 0);
  }
}

.border-left-right {
  &::before {
	@include pseudoBordersProps(height);
	@include absolute-position(top, left, 0, vars.$indent * 1.5);
  }

  &::after {
	@include pseudoBordersProps(height);
	@include absolute-position(bottom, right, 0, vars.$indent * 1.5);
  }
}