@use "../../styles/variables";

.footer-container {
  position         : fixed;
  bottom           : 0;
  left             : 0;
  background-color : variables.$bgNavBarColor;
  color            : white;
  text-align       : center;
  width            : 100%;
  padding          : 10px;
}