@use "variables" as vars;

.container {
  background-color : vars.$bgColor;
  height           : 100vh;
  width            : 100vw;
  max-width        : 100%;
}

.cards-container {
  height          : 85vh;
  display         : flex;
  justify-content : center;
  align-items     : center;

  .cards-box {
	width          : 100%;
	display        : flex;
	flex-direction : row;
	padding        : vars.$indent * 3.5 vars.$indent * 3 vars.$indent * 1.5;

	.slide {
	  height              : 80vh;
	  border-radius       : 20px;
	  margin              : 0 vars.$indent * 1.5;
	  cursor              : pointer;
	  color               : white;
	  flex-grow           : 1;
	  background-size     : cover;
	  background-position : center;
	  background-repeat   : no-repeat;
	  position            : relative;
	  transition          : all 1.5s ease-in-out;

	  h3 {
		position  : absolute;
		font-size : vars.$indent * 3;
		bottom    : vars.$indent * 2.5;
		left      : vars.$indent * 2.5;
		margin    : 0;
		opacity   : 0;
	  }

	  &.active {
		flex-grow : 10;

		h3 {
		  opacity    : 1;
		  transition : opacity .3s ease-in 1s;
		}
	  }
	}
  }
}

@media screen and (max-width : 1020px) {
  .cards-container {
	height : 85vh;

	.cards-box {
	  flex-direction  : column;
	  justify-content : center;
	  align-items     : center;
	  height          : 80vh;
	  padding         : 0;

	  .slide {
		height : 100px;
		width  : 85vw;
		margin : vars.$indent * 1.5 vars.$indent * 1.5;

		&.active {
		  height : 50rem;
		}
	  }
	}
  }
}