@use "../../../styles/variables" as vars;
@use "../../../styles/mixins";

$burgerIconSize : 1.5rem;

.icon {
  display    : none;
  position   : absolute;
  cursor     : pointer;
  top        : 0;
  right      : 0;
  transition : background-color .3s;
  padding    : vars.$indent * 1.5 vars.$indent * 1.7;

  &:hover {
	background-color : lighten(vars.$bgNavBarColor, 5%);
  }

  .navbar-link {
	@include mixins.stylizedNavLink(white, $burgerIconSize);
  }
}