@use "../../../styles/variables" as vars;

@media screen and (max-width : 680px) {
  .navbar-container {
	.navbar-list-items {
	  .list-element {
		display : none;
	  }

	  .icon {
		display : inline-block;
	  }
	}

	.navbar-list-items {
	  &.responsive {
		div {
		  display : block;
		  padding : vars.$indent 0;
		}

		.list-element {
		  display      : inline-block;
		  margin-right : 0;

		  .navbar-link {
			display : block;
		  }
		}
	  }
	}
  }

}