@mixin border($border, $borderWidth, $borderStyle, $borderColor) {
  #{$border} : $borderWidth $borderStyle $borderColor;
}

@mixin stylizedNavLink($color, $fontSize) {
  text-decoration : none;
  color           : $color;
  font-size       : $fontSize;
}